body{
font-family: Arial, sans-serif;
background:#ffe6f0;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
width:400px;
}

.card{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0px 0px 10px rgba(0,0,0,0.1);
}

h1{
text-align:center;
color:#ff4d88;
}

h2{
text-align:center;
margin-bottom:20px;
}

label{
display:block;
margin-top:10px;
}

input,select{
width:100%;
padding:8px;
margin-top:5px;
border-radius:5px;
border:1px solid #ccc;
}

button{
margin-top:20px;
width:100%;
padding:10px;
background:#ff4d88;
border:none;
color:white;
font-size:16px;
border-radius:5px;
cursor:pointer;
}