body{
background:#f7f5ff;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
font-family:Poppins;
}

.register-container{
width:350px;
background:white;
padding:30px;
border-radius:12px;
box-shadow:0 3px 15px rgba(0,0,0,0.1);
}

h2{
text-align:center;
color:#6B4EFF;
margin-bottom:20px;
}

.input-group{
margin-bottom:15px;
}

input,select{
width:100%;
padding:10px;
border:1px solid #ccc;
border-radius:6px;
margin-top:5px;
}

button{
width:100%;
padding:10px;
background:#6B4EFF;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#593bd4;
}